@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 20px;
  line-height: 21px;
  font-weight: 500;
  font-family: "Montserrat";
}

.container {
  width: 100%;
  max-width: 1165px;
  padding: 0 20px;
  margin: 0 auto;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}